body {
  font-family: 'Poppins', sans-serif;
  background-color: #f9f9f9;
  color: #333;
  margin: 0;
  padding: 0;
}

header {
  background-color: #B02B10;
  color: white;
  text-align: center;
  padding: 30px 0;
}

nav a {
  color: white;
  margin: 0 15px;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}

main {
  padding: 20px;
  max-width: 800px;
  margin: auto;
}

img {
  display: block;
  margin: 20px auto;
  border-radius: 50%;
}

footer {
  background-color: #E53724
;
  text-align: center;
  padding: 20px;
  margin-top: 40px;
}
